<h2><%=t :tagline %></h2>
<% if logged_in? %>
  <% @message ||= Message.new %>
    <div id="message-new">
      <% form_for :message, :url => messages_path do |f| -%>
      <%= f.text_area :body, :cols => 40, :rows => 2, :maxlength => 115 %>
      <div class="big-link"><%= link_to 'Hate', '#', :class => 'submit' %></div>
    </div>
  <% end -%>

  <script type="text/javascript">
    $("#message_body").charCounter('115', '');
    $("#message_body").focus();
    $(".submit").click(function(){
      $('.submit').unbind('click').parents('form').submit();
    });
  </script>
<% else %>
  <br />
<% end %>