<td class="message-body">
  <b><%= link_to message.user, profile_path(message.user.login) %></b>  
  <%= auto_link(message.body) {|m| truncate(m)} %>
  <span class="detail"><%= time_ago_in_words(message.created_at) %> ago</span>
</td>