<div id="content-wide">
  <div id="login-small">
    <b>Please Sign In</b>
    <%= render :partial => 'sessions/form' %>
  </div>
</div>

<script type="text/javascript">
  $("#login").focus();
</script>
