<div id="signin-left">
  <b>Create a New Account</b>
  <%= render :partial => 'users/signup' %>
</div>

<div id="signin-right">
  <b>...or Sign In</b>
  <%= render :partial => 'sessions/form' %>
</div>

<div class="clear"> </div>