<div id="prompt">
  <div class="big-link">
    <%= link_to t(:start_link), signup_path %>
  </div>
  <div id="prompt-message">
    <h2>Hate there! <b><%= @user %></b> is using h8ter.</h2>
    <p>h8ter is a free service that lets you hate on anything and everything
    using the web, your phone, and your unrelenting malice. <b>Join today</b> to
    start hating on <b><%= @user %>'s</b> life.</p>
  </div>
</div>
